<div class="container" style="margin-top: 100px">

    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <img class="img-thumbnail" src="/assets/texte.png" alt="Image" width="200" height="150">
        </div>
    </div>

</div>