/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "toastr/build/toastr.min";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

body {
	background-color: #fafafa;
	font-size: 14px;
	color: #262626;
}

.core-sprite {
	background-image: image-url("core-sprite-2x.png");
	background-size: 405px 379px;
	background-repeat: no-repeat;
}

.navbar-brand {
	background-position: -176px 0;
	height: 35px;
	width: 176px;
}

.explore-icon {
	background-position: -276px -355px;
	height: 24px;
	width: 24px;
}
.notification-icon {
	background-position: -354px -298px;
	height: 24px;
	width: 24px;
}
.profile-icon {
	background-position: -309px -177px;
	height: 24px;
	width: 24px;
}

.hide-text {
	display: block;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

.nav-item:not(first-child) {
	margin-left: 30px;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
	height: 77px;
}

.landing-left {
	.dummy-phone {
		background-image: image-url("dummy-phone-2x.png");
		background-repeat: no-repeat;
		background-position: right 0;
		background-size: 454px 618px;
		position: relative;
		height: 618px;
		margin-left: -35px;
		margin-right: 15px;
	}
	.screen-shot {
		position: absolute;
		top: 99px;
		right: 63px;

		.item {
			position: absolute;
		}
	}
}

.box {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	padding: 10px 0;
	margin: 0 0 10px;
}

.brand-name-img {
	background-position: 0 0;
	height: 51px;
	width: 175px;
}

.landing-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.form-login {
		width: 350px;
		.sign-up {
			margin-left: 20px;
			margin-right: 20px;
		}
		form {
			padding: 0 40px;
			.btn-primary {
				width: 100%;
				line-height: 14px;
				font-size: 14px;
				font-weight: 600;
			}
			input {
				border: 1px solid #efefef;
			}
			.form-check-label {
				padding: 0;
				font-size: 15px;
				color: #262626;
			}
		}
		.brand-name-img {
			margin: 22px auto 8px;
		}
	}
	.redirect-links {
		width: 350px;
	}
}

footer .nav-item {
	color: #003569 !important;
	font-size: 12px;
	font-weight: bold;
}

.carousel-fade {
	.carousel-item.active {
		opacity: 1;
		display: block;
	}
	.carousel-item {
		transition: opacity 0.6s ease-in-out;
		opacity: 0;
		position: relative;
		display: block;
	}
	.carousel-item:not(.active) {
		position: absolute;
		top: 0px;
	}
}
.light-color {
	color: #999;
}

.profile-wrapper {
	padding: 60px 0;
	border-radius: 1px solid #efefef;

	.username {
		font-size: 32px;
		line-height: 40px;
		font-weight: 200;
	}

	.email {
		font-size: 16px;
		font-weight: bold;
	}
}

.round-img {
	border-radius: 50%;
}

.common-btn {
	height: 28px;
	line-height: 24px;
	padding: 0 24px;
	border-color: #dbdbdb;
	font-size: 14px;
}

.edit-profile-btn {
	margin: 5px 0 0 15px;
	font-weight: bold;
}

.setting {
	margin: 7px 0 0 10px;
	background-color: transparent;
	background-position: -125px -355px;
	height: 24px;
	width: 24px;
	border: none;
}

.setting:hover {
	cursor: pointer;
}

.edit-profile-wrapper {
	margin: 60px 0 0;
	.left-col {
		border: 1px solid #dbdbdb;
		padding: 0;
		background-color: white;
		.list-group-item {
			border: none;
			color: #262626;
			border-radius: 0;
			font-size: 16px;
			border-left: 2px solid transparent;
		}
		.list-group-item:first-child {
			font-weight: bold;
			border-left-color: #262626;
		}
		.list-group-item:not(:first-child):hover {
			border-left-color: #dbdbdb;
		}
	}
	.right-col {
		border: 1px solid #dbdbdb;
		border-left: none;
		background-color: white;
		.username-img {
			margin: 32px 0;
			.col-sm-9 {
				font-size: 20px;
				font-weight: 400;
				line-height: 20px;
			}
		}
		.form-group {
			font-size: 16px;
		}
	}
}

// Posts
.post-author-icon {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.post {
	.card-header {
		background-color: white;
	}
	.card-body {
		padding: 5px 16px 5px;
	}
	.actions {
		margin: 12px 0;
	}
	.post-time {
		margin-top: 5px;
		font-size: 10px;
	}
	.comment-input {
		font-size: 14px;
		resize: none;
	}
	.previous-btn {
		background-position: -281px -280px;
		height: 30px;
		opacity: 1;
		width: 30px;
	}
	.previous-btn {
		background-position: -353px 0px;
		height: 30px;
		opacity: 1;
		width: 30px;
	}
}

a:link {
	text-decoration: none;
}
.icon-gray {
	color: gray;
	&:hover {
		color: #444444;
	}
}
.icon-red {
	color: firebrick;
	&:hover {
		color: maroon;
	}
}
.icon-spacer {
	margin-right: 10px;
}

.no-text-decoration:hover {
	text-decoration: none;
	color: #262626;
}

.normal-color {
	color: #262626;
}

.comment-list {
	height: 310px;
	overflow: auto;
}
.post-show-img {
	background-color: #fafafa;
	margin: -10px 0;
}

#post {
	width: 615px;
}
