.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    height: 40px;
    width: 20%;
    margin-left: 20px;
  }

  mat-form-field {
    width: 80%;
  }
}
